.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.input label{
    text-align: start;
}

.input input{
    padding: 10px;
    width: 400px;
    outline: none;
    border: 1px solid gainsboro;
    font-size: 18px;
    color: #474747;
}

.btns{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.add{
    background: rgb(250, 173, 57);
    border-radius: 0;
    padding: 8px;
    border: 0;
    transition: .2s;
}

.back{
    border: 1px solid rgb(243, 164, 45);
    color: orange;
    padding: 8px;
    transition: .2s;

}

.add:hover{
    border: 0;
    background: rgb(255, 204, 108);
}

.back:hover{
    background:rgb(243, 164, 45);
    color: #333;
}



@media(max-width:425px){
    .form{
        width: 100%;
    }
    .input input{
        width: 300px;
    }
}